@import '~bootstrap/scss/bootstrap';
@import "../../public/assets/scss/main";
@import "../../node_modules/react-accessible-accordion/dist/fancy-example.css";

#services {
    padding: 100px 0;
    background: linear-gradient(to right, #c58940 0%, #d3c199 100%);
    color: #fff;
  }
  #services .service-desc {
    margin: 10px 10px 20px;
  }
  #services h2 {
    color: #fff;
  }
  #services .section-title h2::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
  }
  #services i.fa {
    font-size: 42px;
    width: 120px;
    height: 120px;
    padding: 40px 0;     
    color: #fff;
  }
  #services h3 {
    font-weight: 500;
    padding: 5px 0;
    color: #000;
    font-weight: bold;
  }
  #services p {
    color: #000;
    font-size: 20px;
  }
  #services .service-desc {
    margin-bottom: 40px;
  }

#lista {
  list-style: none;
}

.imgfurgo {
  height: 200px;
 
}

#container404 {
  display: grid;
  place-content: center;
}

.login {
  padding-top: 150px;
  padding-bottom: 150px;
}

.titulobooking{
  padding-top: 30px;
  text-align: center;

}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form-login {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  #c58940;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-login button:hover,
.form-login button:active,
.form-login button:focus {
  background: #43a047;
}
.form-login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-login .message a {
  color: #4caf50;
  text-decoration: none;
}
.form-login .register-form {
  display: none;
}

.auth__error{
  color: red;
}

.parr-login{
  padding-top: 56px;
}