/* 01. Theme default */
@use "common" as *;
@use "variables" as *;
@use "mixins" as *;

body {
  color: $body-color;
  font-size: $body-fz;
  font-family: $body-fonts;
  font-weight: 400;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@font-face {
  font-family: 'Reey';
  src: url('../fonts/Reey-Regular.woff2') format('woff2'),
  url('../fonts/Reey-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  @include transition(0.3s);

  &:active,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

button,
.btn {
  @include transition(0.3s);

  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: $heading-color;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
  color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-fonts;
  color: $heading-color;
  font-weight: 700;
  margin-bottom: 10px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

hr {
  margin: 20px 0;
  border-color: $body-color;
}

ol {
  list-style: decimal;
}

ol, ul {
  margin: 0px;
  padding: 0px;
}

p {
  color: $body-color;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Form */

label {
  color: $body-color;
  cursor: pointer;
  font-size: $body-fz;
  font-weight: 400;
}

*::-moz-selection {
  background: $theme-color;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: $theme-color;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $theme-color;
  color: #fff;
  text-shadow: none;
}

/* Placeholder */

*::-moz-placeholder {
  color: $body-color;
  font-size: $body-fz;
  opacity: 1;
}

*::placeholder {
  color: $body-color;
  font-size: $body-fz;
  opacity: 1;
}

/* Button */

.theme-btn {
  font-size: 14px;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;
  color: $white-color;
  background: $theme-color;
  padding: 0px 50px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  position: relative;
  z-index: 1;
  @include transition(.3s);

  &::before {
    background: $white-color;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 0px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: $theme-color;

    &::before {
      left: 0px;
      right: auto;
      width: 100%;
    }
  }

  &.theme-btn-small {
    font-size: 14px;
    padding: 0px 30px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;

  }

  &.black-btn {
    background: $heading-color;
  }
}

.border-btn {
  border: 1px solid $theme-color;
}

.btn-rounded {
  border-radius: 100% !important;
}

.btn-square {
  border-radius: 0 !important;
}

/* Bg Color */

.bg-theme {
  background: $theme-color;
}

.bg-grey {
  background: $grey-color;
}

.bg-white {
  background: $white-color;
}

.bg-heading {
  background: $heading-color;
}


/* Text Color */

.white-color {
  color: $white-color;
}

.theme-color {
  color: $theme-color;
}

/* Others Common Css Here :) */


.table-row {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

.z-index {
  position: relative;
  z-index: 5;
  border-radius: 8px;
}

.custom-mar-20 {
  margin-left: -10px;
  margin-right: -10px;
}

.custom-pad-20 {
  padding-left: 10px;
  padding-right: 10px;
}

.uppercase {
  text-transform: uppercase;
}

//section title

.section-subtitle {
  font-size: 14px;
  color: $theme-color;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;

  &:before {
    position: absolute;
    content: '';
    height: 6px;
    width: 100%;
    left: 0px;
    bottom: 1px;
    background-color: rgb(233, 235, 237);
    z-index: -1;
  }
}

.section-title {
  font-size: 50px;
  color: $heading-color;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  @include mq(lg) {
    br {
      display: none;
    }
  }
  @include mq(xs) {
    font-size: 30px;
    line-height: 45px;
  }
}

//custom swipper dots
.slider-area {
  top: 20px;
}

.header-logo {
  width: 60px;
  height: auto;
  border: none;
  display: inline-block;
}

div.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: auto;
  @include mq(lg) {
    right: 50px;
  }
  @include mq(md) {
    right: 40px;
  }
  @include mq(xs) {
    right: 30px;
  }
}

div.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  display: inline-block;
  margin: 0px 5px;
  padding: 0px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #7a7b7e;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background: #7a7b7e;
  font-size: 0px;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    border-color: $white-color;
  }
}


div.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: auto;
}


//swiper common arrow style start
// .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after,
// .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
// 	font-size: 20px !important;
// 	background: #fff !important;
// 	height: 56px !important;
// 	width: 56px !important;
// 	line-height: 56px !important;
// 	color: #242629 !important;
// 	border-radius: 50% !important;
// 	border: none !important;
// 	outline: none !important;
// 	cursor: pointer !important;
// 	z-index: 3 !important;
// 	text-align: center !important;
// 	margin: 0px !important;
// 	vertical-align: middle !important;
// 	-webkit-transition: all 0.3s linear 0s !important;
// 	transition: all 0.3s linear 0s !important;
// 	display: inline-block !important;
// }
// .swiper-button-prev:hover:after, .swiper-rtl .swiper-button-next:hover:after,
// .swiper-button-next:hover:after, .swiper-rtl .swiper-button-prev:hover:after {
//   background: $theme-color !important;
//   color: $white-color !important;
// }
// .swiper-button-next, .swiper-button-prev {
// 	display: inherit !important;
// }
// .swiper-button-prev, .swiper-rtl .swiper-button-next {
// 	left: 15px !important;
// }
// .swiper-button-next, .swiper-rtl .swiper-button-prev {
// 	right: 55px !important;
// }

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after,
.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after {
  content: 'next';
  display: none;
}

//swiper common arrow style end

//shape css start
.common-shape-wrapper {
  height: 490px;
  width: 490px;
  background: $white-color;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  @include transition(1.5s);
  @include mq(xs) {
    height: 230px;
    width: 230px;
  }
  @include mq(sm) {
    height: 300px;
    width: 300px;
  }
  @include mq(md) {
    height: 350px;
    width: 350px;
  }
  @include mq(lg) {
    height: 400px;
    width: 400px;
  }

  & .common-shape-inner {
    height: 220px;
    width: 220px;
    background: $grey-color;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 100%;
    @include transition(1.5s);
    @include mq(xs) {
      height: 150px;
      width: 150px;
    }
  }
}

.common-shape-wrapper2 {
  right: -100%;
  bottom: -100%;
  transition: all 1400ms ease;

  & .common-shape-inner2 {
    right: -100%;
    bottom: -100%;
    transition: all 1400ms ease;
  }
}

.swiper-slide-active .common-shape-wrapper {
  right: 0;
  bottom: 0;
}

.swiper-slide-active .common-shape-wrapper .common-shape-inner {
  right: 0;
  bottom: 0;
}

//map css start
.map-area {
  margin-bottom: -6px;

  & iframe {
    height: 550px;
    border: 0px;
    width: 100%;
  }
}

//search menu start
.nav-search {
  position: relative;
  display: inline-block;
  color: inherit;
}

.nav-search:hover {
  color: $theme-color;
}

.search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1211;
  background: rgba(0, 0, 0, .9);
}

.search-wrap.search-opened {
  display: block;
}

.search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-wrap .search-cell {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.search-wrap .search-field-holder {
  width: 50%;
  margin: auto;
  position: relative;
  animation: slideInUp .3s;
  text-align: center;
  @include mq(xs) {
    width: 75%;
  }
}

.search-field-holder button {
  height: 45px;
  line-height: 45px;
  background: $white-color;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  padding: 0px 50px;
  display: inline-block;
  margin-top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}

.search-wrap .main-search-input {
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0 50px;
  background: transparent;
  font-size: 25px;
  color: $white-color;
  border-bottom: 2px solid #898989;
  text-align: center;
  letter-spacing: 2px;
  @include mq(xs) {
    height: 50px;
    font-size: 15px;
  }
}

.search-wrap .main-search-input::-moz-placeholder {
  text-transform: uppercase;
}

.search-wrap .main-search-input::placeholder {
  text-transform: uppercase;
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: $white-color;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

input.main-search-input::-webkit-input-placeholder {
  color: $white-color;
  font-size: 25px;
  @include mq(xs) {
    font-size: 15px;
  }
}

input.main-search-input:-moz-placeholder {
  color: rgb(197, 178, 178);
  opacity: 1;
  font-size: 25px;
  @include mq(xs) {
    font-size: 15px;
  }
}

input.main-search-input::-moz-placeholder {
  color: $white-color;
  opacity: 1;
  font-size: 25px;
  @include mq(xs) {
    font-size: 15px;
  }
}

input.main-search-input:-ms-input-placeholder {
  color: $white-color;
  font-size: 25px;
  @include mq(xs) {
    font-size: 15px;
  }
}

.search-close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  color: $white-color;
  cursor: pointer;
}

.mobile-links li > a {
  padding: 15px 0 15px 15px;
  line-height: 20px;
  border-bottom: 1px solid #ebebeb;
  color: #7f7f7f;
  display: block;
}

.mobile-links li > a:hover {
  color: #b79d82;
}

// Cookies

.cookie-overlay,
.cookie-options-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.cookie-banner {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button-container button {
  width: 30%;
  margin-bottom: 10px;
}

.button-container-profile button {
  width: 50%;
  margin-bottom: 10px;
  font-size: 12px;
}

.cookie-options-banner {
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.checkbox-container div {
  margin-bottom: 5px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
}

.checkbox-container label input {
  margin-right: 5px;
}

.button-container-options {
  display: flex;
  justify-content: center;
}

.button-container-options button {
  margin: 0 5px;
}


////Profile

.img-account-profile {
  border-radius: 50%;
  width: 40%;
}

.rounded-circle {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
  font-weight: 500;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control, .dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #c58940;
  border-bottom-color: #c58940;
}

.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

/// Profile Booking

.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.fa-2x {
  font-size: 2em;
}

.table-billing-history th, .table-billing-history td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
}
.table > :not(caption) > * > *, .dataTable-table > :not(caption) > * > * {
  padding: 0.75rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.border-start-primary {
  border-left-color: #0061f2 !important;
}
.border-start-secondary {
  border-left-color: #6900c7 !important;
}
.border-start-success {
  border-left-color: #00ac69 !important;
}
.border-start-lg {
  border-left-width: 0.25rem !important;
}
.h-100 {
  height: 100% !important;
}

///Login

$form-bg: #13232f;
$blanco: #fff;

$color-principal: #c58940;
$color-principal-light: lighten($color-principal, 5%);
$color-principal-dark: darken($color-principal, 5%);

$gris-light: #a0b3b0;
$gris: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$fuente-principal: "Ubuntu", helvetica;
$fuente-secundaria: "Raleway", arial;

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: $color-principal;
  transition: 0.5s ease;

  &:hover {
    color: $color-principal-dark;
  }
}

.contenedor-formularios {
  background: white;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, 0.3);
}

.contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li {
    float: left;
    width: 50%;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba($gris-light, 0.25);
    color: #c58940;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
      background: $color-principal-dark;
      color: $blanco;
    }
  }

  &.active a {
    background: $color-principal;
    color: $blanco;
  }
}

.contenido-tab > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  font-weight: $thin;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: gray;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;

  .req {
    margin: 2px;
    color: $color-principal;
  }
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;

  .req {
    opacity: 0;
  }
}

label.highlight {
  color: $blanco;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid $gris-light;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;

  &:focus {
    outline: none;
    border-color: $color-principal;
  }
}

.contenedor-input {
  position: relative;
  margin-bottom: 40px;
}

.fila-arriba {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    margin-right: 4%;

    &:last-child {
      margin: 0;
    }
  }
}

.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: $color-principal;
  color: $blanco;
  transition: all 0.5s ease;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background: $color-principal-dark;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

// Mediaqueries
@media screen and (max-width: 500px) {
  .fila-arriba {
    > div {
      width: 100%;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .contenedor-tabs {
    li a {
      width: 100%;
    }
  }
}
